label, select {
  margin: 0px;
  padding: 8px 0;
}
.login-container form {
  width: 90%;
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  position: relative;

    

}
.login-container .container {
  position: relative;
  width: 90%;
  max-width: 870px;
height: 100vh;
  
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .2);
  display: flex;
  overflow: hidden;
  flex-direction: column; 
  overflow: hidden;
  margin: 20px auto; 

}
.login-fullscreen-container {
  display: flex;
  min-height: 100vh;
  width: 100vw;
}


.formulario input {
  width: 100%;
  padding: 12px;

  
  
  border: 2px solid transparent;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(90deg, rgba(17, 9, 164, 1) 0%, rgba(2, 144, 253, 1) 100%) border-box;
    transition: background 0.3s;
   
   
    
}
.formulario label {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  
  display: block;
  
  

}


.Cadastro-container input:focus {
  
  background:
    linear-gradient(white, white) padding-box,
    black border-box;
}
.Cadastro-container .option {
  display: flex;
  align-items: center;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(90deg, rgba(17, 9, 164, 1) 0%, rgba(2, 144, 253, 1) 100%) border-box;
}
  select {
  
 border: 2px solid transparent;
  

  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(90deg, rgba(17, 9, 164, 1) 0%, rgba(2, 144, 253, 1) 100%) border-box;
  border-radius: 10px;          
  padding: 12px;           
  
  
  font-size: 16px;
  background-color: #ffffff;
  color: #000000;
  
  
  
  width: 100%;
outline: none;
}

select:focus{
  border-color: #000000;
}

option:focus {
  outline: none;
  background:
    linear-gradient(white, white) padding-box,
    black border-box;
}

.campo {
width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px; 
  width: 400px;



  
}

@media (min-width: 768px) {
  .login-container .container {
    flex-direction: row; 
  }
  
  .login-container form {
    width: 50%;
  }
}

.Alinha-campos {
  display: flex;
  gap: 90px; 
  width: 100%;
  flex-wrap: wrap;
  width: 500px;
 margin-left: -50px;
}

.Alinha-campos .campo {
  flex: 1;
  
}

.Text-Cadastro{
  text-align: center;


   margin-top: 10%;
  font-size: 40px;
  font-weight: 500;
  margin-bottom:  auto;
background: 
linear-gradient(90deg, rgba(17, 9, 164, 1) 0%, rgb(126, 179, 219) 100%) ;
  
 
  -webkit-background-clip: text;
  background-clip: text;
  

  color: transparent;
  

  font-weight: bold;

}
.btn-login{
    display: inline-flex;
  align-items: center;
  justify-content: center;

  font-family: "Montserrat", "Trebuchet MS", sans-serif;
  font-weight: 700;
  font-size:1rem;

  color: #ffffff;
  text-decoration: none;

  padding: 10px 40px;

 
  border-radius: 15px;
  margin-top: 10%;


  background: linear-gradient(
    135deg,
    #0C299A,
    #0066FF
  );
}
.btn-login1{
    display: inline-flex;
  align-items: center;
  justify-content: center;

  font-family: "Montserrat", "Trebuchet MS", sans-serif;
  font-weight: 700;
  font-size:1rem;

  color: #ffffff;
  text-decoration: none;

  padding: 10px 40px;

 
  border-radius: 15px;
  margin-top: 10%;

margin-left: 13%;
  background: linear-gradient(
    135deg,
    #0C299A,
    #0066FF
  );
}

.btn-login1:hover{
  background: linear-gradient(
    135deg,
    #eb2106,
    #e93d08
  );
  transition: background 0.3s ease;
  transform: scale(1.05);
}

.btn-login:hover {
  background: linear-gradient(
    135deg,
    #0eec2c,
    #17df7b
  );
  transition: background 0.3s ease;
  transform: scale(1.05);
}


.login-image-panel {
  flex: 1;
  display: flex;
 
}

.login-image-panel img {
  width: 100%;
  height: 100%;
  object-fit: over; 

}
.input-password img{
    position: relative;
    width: 30%;
    padding-right:40px;
   
}

.icone-olho{
    position: absolute;

    left: 83%;
    top: -22%;

    transform: translateY(-50%);

    width: 22px;
    height: 22px;

    cursor: pointer;
}


.login-image-panel img {
  width: 100%;
  height: 100%;
  object-fit: over; 

}
.input-password img{
    position: relative;
    width: 30%;
    padding-right:40px;
   
}

.icone-olho{
    position: absolute;

    left: 83%;
    top: -22%;

    transform: translateY(-50%);

    width: 22px;
    height: 22px;

    cursor: pointer;
}

.input-correto{
    border:2px solid #28a745 !important;
}

.input-erro{
    border:2px solid #dc3545 !important;
}




  

