label, select {
  margin: 0px;
  padding: 8px 0;
}
.login-container form {
  width: 90%;
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  position: relative;
}
.login-container .container {
  position: relative;
  width: 90%;
  max-width: 870px;
  min-height: 550px;
  
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .2);
  display: flex;
  overflow: hidden;
  flex-direction: column; 
  overflow: hidden;
  margin: 20px auto; 
  
}


.Cadastro-container input {
  width: 100%;
  padding: 12px;
  border: 2px solid transparent;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(90deg, rgba(17, 9, 164, 1) 0%, rgba(2, 144, 253, 1) 100%) border-box;
    transition: background 0.3s;
    margin-right: auto;
   
    
}
.Cadastro-container label {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  
  display: block;
  
  

}
.Cadastro-container{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 400px;
  padding:  0 20px;
}

.Cadastro-container input:focus {
  
  background:
    linear-gradient(white, white) padding-box,
    black border-box;
}
.Cadastro-container .option {
  display: flex;
  align-items: center;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(90deg, rgba(17, 9, 164, 1) 0%, rgba(2, 144, 253, 1) 100%) border-box;
}
  select {
  
  box-sizing: border-box;
  

  border: 1.5px solid #3b82f6;  
  border-radius: 10px;          
  padding: 12px;           
  
  
  font-size: 16px;
  background-color: #ffffff;
  color: #000000;
  
  
  
  width: 100%;
outline: none;
}

select:focus{
  border-color: #000000;
}

option:focus {
  outline: none;
  background:
    linear-gradient(white, white) padding-box,
    black border-box;
}

.campo {
width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px; 
  
}

@media (min-width: 768px) {
  .login-container .container {
    flex-direction: row; 
  }
  
  .login-container form {
    width: 50%;
  }
}
  

