.footer{
    border-bottom: none;
    width:100%;
background: linear-gradient(
        180deg,
        #014CDB 0%,
        #001499 100%
    );    overflow:hidden;
    font-family:"Inter",sans-serif;
}

/* =============================== */

.footer-top{

    height:170px;

    display:flex;
    align-items:flex-start;

    padding:38px 95px 0 95px;
}

/* LOGO */

.footer-logo-area{

    width:220px;
}

.footer-logo{
    margin-left: -30px;
    width:105px;
    display:block;
}

/* ÍCONES */

.footer-icons{

    width:310px;

    display:flex;
    justify-content:space-between;

    margin-top:50px;

    color:#FFF;

    font-size:36px;
}

/* LINKS */

.footer-links{

    flex:1;

    display:flex;
    justify-content:flex-end;

    gap:110px;

    margin-top:12px;
}

.footer-links div{

    display:flex;
    flex-direction:column;
}

.footer-links a{

    color:white;

    text-decoration:none;

    font-size:14px;

    font-weight:400;

    line-height:25px;

    transition:.2s;
}

.footer-links a:hover{

    opacity:.75;
}

/* =============================== */

.footer-title{

    width: 100%;
    text-align: center;

    color:white;
        margin-top: 60px;
    font-family:"Inter",sans-serif;
transform: translateX(-65px);
    font-size:310px;

    font-weight:900;

    letter-spacing:-16px;

    line-height:.77;

    white-space:nowrap;

    user-select:none;
}