.login-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui;
  display: flex;
  align-items: center;
  min-height: 100vh;
}



.login-container form {
  position: relative;
  right: 600%;
  width: 100%;
  height: 400%;
  display: flex;
  margin-right: -10%;

}

.login-container input {
  width: 180%;
  padding: 9px;
  margin: 8px 0;
  border: 1px solid transparent;
  border-radius: 10px;
  font-size: 16px;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(90deg, rgba(17, 9, 164, 1) 0%, rgba(2, 144, 253, 1) 100%) border-box;
}

.login-container .login-inputs {
  margin-top: -5%;
}

.login-container label {
  font-weight: 500;
  margin-bottom:1%;
  display: block;
  font-size: 18px;
}

.login-container .login-left {
  font-size: 70px;
  position: relative;
  margin-bottom: 40%;
  
  font-family: 'Inter', system-ui;
  background: linear-gradient(90deg, rgba(17, 9, 164, 1) 0%, rgba(2, 144, 253, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 195px;
  font-weight: 500;
}



.login-container .images  {
  width:55%;
  display: flex;
  transform: scaleY(6)
  

  
}

.login-container .images img {
  width:90%;
  display: flex;
  

  
}



.login-container h1 {
  font-family: 'Inter', system-ui;
  position: relative;

}

.login-container button {
  width: 129%;
  padding: 9px;
  
  margin: 8px 0;
  border: 1px solid transparent;
  border-radius: 15px;
  font-size: 17px;
  background:
    linear-gradient(90deg, rgba(17, 9, 164, 1) 0%, rgba(2, 144, 253, 1) 100%) border-box;
  color: #fff;
}

.login-container .google-btn {
  width: 120%;
  height: auto;
  padding: 4px;
  height: 36px;
  border-radius: 15px;
  border: 1px solid color(black);
  background: rgb(227, 228, 230);
  color: white;
  cursor: pointer;
}
.login-container .google-icon {
  margin-top: -28px;
}

.login-container .paragrafo {
  margin-left: 90px;
  margin-top: 30px;
  font-size: small;
  font-weight: 500;
}

.login-container p {
  font-size: small;
  font-weight: 500;
}


