.info-section {
  width: 100%;

  margin-top: 48px;
  margin-bottom: 0px;
  
}

.info-grid {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 32px;
}

.info-card {
  width: 100%;
  height: 500px;

  overflow: hidden;
  border-radius: 28px;

  background: white;

  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.12);

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}


.info-card:hover {
  transform: translateY(-8px);

  box-shadow:
    0 16px 40px rgba(0, 0, 0, 0.18);
}

.info-card-image {
  width: 100%;
  height: 100%;

  object-fit: cover;

  display: block;
}

/* TABLET */
@media (max-width: 1100px) {
  .info-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* CELULAR */
@media (max-width: 768px) {
  .info-grid {
    grid-template-columns: 1fr;
  }

  .info-card-image {
    height: 360px;
  }
}